---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				display: flex;
				flex-direction: column;
				row-gap: 1rem;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome, Traveler!</h1>
			<p>
				You've landed on my personal site&mdash;thanks for stopping by. I'm
				Derek, a software engineer who's passionate about exploring the
				intersections of full-stack web development, machine learning, embedded
				systems, and video games. I thrive on solving challenges across these
				domains and love diving into new technologies.
			</p>
			<p>
				I plan to use this space to share blog posts about interesting
				engineering challenges I've faced and the lessons I've learned along the
				way. To start, check out <a href="/blog/kdi-generating-teams"
					>this post</a
				> where I dive into developing a Python algorithm for my Discord bot <a
					href="https://github.com/dGrowl/kdi">kdi</a
				>. Let me know what you think&mdash;I'd love to hear your thoughts!
			</p>
		</main>
		<Footer />
	</body>
</html>
